@media (max-width: 750px) {
    .carousel {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .carousel ul {
        width: 100%;
        height: 100%;
    }
    .carousel ul li {
        width: 100%;
        height: 100%;
    }
    .carousel-root {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
    .div-zoom-sm {
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: ease-in;
        overflow: hidden;
    }
    .div-zoom-sm .carousel-slider {
        width: 100%;
        height: 100%;
    }
    .div-zoom-sm .slider-wrapper {
        width: 100%;
        height: 100%;
    }
    .div-zoom-sm .carousel-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .shadows {
        position: absolute;
        top: 0;
        width: 100%;
        background-image: linear-gradient(to right, #000, rgba(133, 52, 52, 0.698), rgba(0, 0, 0, 0.082));
        border-radius: 0px 50px 50px 0px;
        height: 80vh;
    }
    .div-zoom-sm .casi {
        width: 100%;
        height: 100%;
        padding: 2em;
    }
    .div-zoom-sm .casi img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
}